/node_modules
/public/hot
/public/storage
/public/.alexa_credentials
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker
/public/images
/public/build
/public/css
/public/fonts
/public/js
/storage/debugbar
/public/attachment
.idea
