// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000;
$black-light: #333;
$black-lighter: #494c6b;
$white: #fff;
$khaki: #f0e791;
$blue: #497EB1;
$carmine-pink: #eb4d4b;
$cyan-gray: #ced6e0;
$gray-lighter: #ccc;
$dodger-blue: #2e86de;
$white-lower: #F6F7F8;
$pale-sky: #636e72;
$light-blue: #45aaf2;
$dark-blue: #3c8dbc;
$link-water: #ced6e0;
$ufo-green: #2ed573;
$grisaille: #57606f;
// z-index
$z-index-above-all: 9999;
$z-index-above: 2;
$z-index-normal: 1;
$z-index-under: -1;

// Image Path
$image-path: '/images/';
