.list-group-item{
    cursor: pointer;

    &:hover {
        background-color: #efefef;
    }

    &.active {
        background-color: #fff;
        color: #000;
        border: 1px solid #DFDFDF;
        border-left: 5px solid #497EB1;

        &:hover {
            background-color: #efefef;
        }
    }
}

.green { color: rgb(23, 161, 23); }