.list-group-item{
    cursor: pointer;
    padding: 0;
    a {
        color: black;
        display: block;
        padding: 0.8em;
        &:hover {
            text-decoration: none;
        }
    }

    &:hover {
        background-color: #efefef;
    }

    &.active {
        background-color: #fff;
        color: #000;
        border: 1px solid #DFDFDF;
        border-left: 5px solid #497EB1;

        &:hover {
            background-color: #efefef;
        }
    }
}

.tbl-custom {
    tbody {
        tr {
            &.active {
                background-color: #f4f4f4;
                &:hover {
                    background-color: #ececec;
                }
            }
            
        }
    }
}

.mailbox-attachment-info-custom {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

blockquote {
    padding: 0.8em;
    font-style: italic;
    &.primary {
        color: #000;
        background-color: #c9e2ff;
        border-left: 6px solid #1c85ff;
    }
    &.default {
        color: gray;
        background-color: #fafafa;
        border-left: 6px solid #efefef;
    }
}

.img-attachment {
    object-fit: contain;
    height: 90px;
    width: 90px;
}

.pre-formatted {
    white-space: pre;
}

.message-content {
    min-height: 300px;
    border: 0px;
    &:read-only {
        background-color: rgba(0, 0, 0, 0) !important;
    }
    &:focus {
        border: 0px;
        box-shadow: none;
    }
}

.pointer { 
    &:hover {
        color: orange;
    }
}

.red { color: red; }
.yellow { color: yellow; }
.orange { color: orange; }
.green { color: rgb(23, 161, 23); }