.dropdown-menu-custom {
    &:before {
        border: none !important;
        content: none !important;
    }

    &:after {
        border: none !important;
        content: none !important;
    }
}

.notification-menu-custom {
    width: 400px;
    li {
        &.header {
            padding: 0.8em;
        }

        &.footer {
            padding-top: 0.8em;
            display: block;
            text-align: center;

            &:hover {
                text-decoration: none;
            }
        }
            
    }
    
}

.vertical-menu {
    a {
        background-color: #fff;
        color: gray;
        display: block;
        padding: 8px;
        text-decoration: none;
        border-top: 1px solid #efefef;

        &:hover {
            background-color: #efefef;
        }
    }
    
}